.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }

  .hrdivider {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .hrdivider .div {
    position: absolute;
    top: 5px;
    background: #fff;
  }
  
  .divider {
    border: 0;
    border-top: 2px solid;
  }
  .price {
    font-size: 24px;
  }
  .card{
      cursor: pointer;
      transition: box-shadow 0.3s;
  }
  .card:hover{
    box-shadow: 0 .525rem .25rem rgba(0,0,0,.075)!important;
  }